
p.contains {
    line-height: 25px;
    font-size: 1.1em;
}

p.ttd {
    line-height: 20px;
    font-size: 1em;border-bottom: 1px dotted #ddd7d7;

}
.container {
    padding: 10px 15px 10px 15px;
    background-color: #eaeaea
}